@page
@model IndexModel
@inject SpotifyClientBuilder spotifyBuilder
@{
    ViewData["Title"] = "Home";
    ViewData["Page"] = "index";
}


<!-- Load all your scripts normally before calling ReactInitJavaScript -->
<!-- Assumes minification/combination is configured as per previous section -->
<script type="module" src="~/js/Main.jsx"></script>

@Html.ReactInitJavaScript()

@Html.React("TopBox", new { initialData = Model.Tracks.Items })

@if (Model.Previous != null)
{
    <a href="@Model.Previous">Previous</a>
}
@if (Model.Next != null)
{
    <a href="@Model.Next">Next</a>
}